{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1">
        <h1>Nos Experts</h1>

        <p class="expertText">
            Pour <strong>« Ensemble le Booster rural »</strong> les Experts appartiennent aux professions juridiques, notariales, immobilières, d’ingénierie territoriale en environnement  et en ingénierie de réseaux.
        </p>
    </section>>
    {% for user in users %}
        <div class="row">
            <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1">
                <div class="row downMarg2">
                    {{ user. }}

                </div>
                <div class="row">
                    <div class="col-xs-offset-10 col-xs-1">
                        <div class="row">
                            <div class="col-xs-offset-3 col-xs-1">
                                <a href="{{ path('expert_delete',{'id' : expert.id}) }}">
                                    <i class="col-xs-offset-11 fa fa-times fa-3x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-xs-offset-3 col-xs-1">
                                <a href="{{ path('expert_edit', {'id': expert.id}) }}') }}">
                                    <i class="col-xs-offset-11 fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endfor %}

    {% endblock %}
