{% extends "base.html.twig" %}

  {% block body %}

      <div class="row">
          <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1">
              <div class="row">
                  <a href="{{ path('partners_new') }}"> <button type="submit" class="btn center-block Button">Ajouter un Partenaire</button></a>
                  <a href="{{ path('expert_new') }}"><button type="submit" class="btn center-block Button" >Ajouter un expert</button></a>
                  <button type="submit" class="btn center-block Button">Supprimer un utilisateur</button>


              </div>

          </section>
      </div>


  {% endblock %}
