{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1">
        <h1>Nos Experts</h1>

        <p class="expertText">
            Pour <strong>« Ensemble le Booster rural »</strong> les Experts appartiennent aux professions juridiques, notariales, immobilières, d’ingénierie territoriale en environnement  et en ingénierie de réseaux.
        </p>
    </section>

    {% for expert in experts %}
        <div class="row">
            <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1">
                <div class="row downMarg2">


                    <div class="col-xs-3">
                        {% if expert.imageExperts != null %}
                            <img src="{{ app.request.basepath }}/uploads/{{ expert.imageExperts }}" alt="photo_expert" class="img-responsive">
                        {% else %}
                            <img src="{{ asset('bundles/booster/img/nophoto.png') }}" alt="photo_expert" class="img-responsive">
                        {% endif %}
                    </div>
                    <div class="col-xs-9">
                        <p>{{ expert.expertText }}</p>
                    </div>
                </div>
            </section>

        </div>
    {% endfor %}

    {% endblock %}
