<footer class="container-fluid ">

    <div class="row">

        <div class="navbar navbar-default  footerColor">

            <div class="col-xs-12 col-sm-3">
                <img class="logo-footer center-block" src="{{ asset('bundles/booster/img/logo-ss-fond.png') }}" alt="logo booster rural">
            </div>



            <div class="col-xs-12 col-sm-3">
                <ul class="ul-footer">
                    <li class="li-footer"><a href="{{ path('partners_index') }}"><strong>Nos partenaires</strong></a></li>
                    <li class="li-footer"><a href="{{ path('expert_index') }}"><strong>Nos experts</strong></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3">
                <ul class="ul-footer">
                    <li class="li-footer"><a class="foot-item" data-toggle="modal" data-target="#mentions_légales">Mentions légales</a></li>
                    <li class="li-footer"><a class="foot-item" data-toggle="modal" data-target="#credits">Crédits</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-3">
                <ul class="ul-footer">
                    <li class="li-footer"><a class="foot-item" data-toggle="modal" data-target="#contact"><span class="glyphicon glyphicon-envelope"></span> Nous contacter</a></li>
                    <li class="icon-social">
                        <a class="foot-item" href="https://www.facebook.com/Booster-rural-1855050141443900/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a> <a class="foot-item" href="https://twitter.com/booster_rural"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a> <a class="foot-item" href="https://www.instagram.com/booster_rural/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>


        <!-- ********************************* modales ************************************* -->


        <div class="modal fade" id="credits" tabindex="-1" role="dialog" aria-labelledby="creditsmodal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                        <h3 class="modal-title">Crédits</h3>
                    </div>
                    <div class="modal-body">
                        <h4>Développé par les étudiants de la Wild Code School :</h4><br>
                        <div class="center-block">
                            <a href="https://www.linkedin.com/in/pascale-barboteau-4a0409a5?authType=NAME_SEARCH&authToken=Rp5D&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A374259576%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1481378936405%2Ctas%3Apas" target="_blank">Pascale BARBOTEAU</a><br>
                            <a href="https://www.linkedin.com/in/florian-galerne-610525114?authType=NAME_SEARCH&authToken=inXW&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A479052588%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1481379014930%2Ctas%3Aflo" target="_blank">Florian GALERNE</a><br>
                            <a href="https://fr.linkedin.com/in/julien-saint-laurent" target="_blank">Julien SAINT-LAURENT</a>
                        </div>
                        <br>
                    </div>
                    <a href="http://www.wildcodeschool.fr" target="_blank"><img src="{{ asset('bundles/booster/img/wcs.jpg') }}" width="20%"/></a>
                    <br><br>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="modal fade" id="mentions_légales" tabindex="-1" role="dialog" aria-labelledby="LargeMentionslégalesmodal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                        <h3 class="modal-title">Mentions légales</h3>
                    </div>
                    <br>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                        <br>
                                    <div class="mentions_légales_text">
                                        {% include '::legalMentions.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="partenaires" tabindex="-1" role="dialog" aria-labelledby="partenaires">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                        <h3 class="modal-title">Nos Partenaires</h3>
                    </div>
                    <br>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 text-justify">
                                    {% include '::partners.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->


        <div class="modal fade" id="experts" tabindex="-1" role="dialog" aria-labelledby="experts">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                        <h3 class="modal-title">Nos Experts</h3>
                    </div>
                    <br>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 text-justify">
                                    {% include '::experts.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

        <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contact">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                        <h3 class="modal-title">Contact</h3>
                    </div>
                    <br>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 text-justify">
                                    <p>Pour toute question ou information supplémentaire, vous pouvez nous contacter à l'adresse suivante: booster.rural@gmail.com</p>
                                        <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
        <!-- *****************************************END MODALES*****************************************-->
    </div>
</footer>
