<div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-xs-12 project">
        <p>
            Pour <strong>« Ensemble le Booster rural »</strong> les partenaires partagent les mêmes objectifs et portent les mêmes valeurs que notre projet. Ces valeurs sont celles d’invention, d’innovation, d’expérimentation  et de soutien aux forces vives et vivantes des territoires hors métropoles à l’échelle nationale. Elle contribue à présenter cette dimension créative et à renforcer les synergies tout en proposant des Solutions.
            <br>
            Les partenaires contribuent à la plate-forme par un soutien sous forme de mécénat, de financement, de contribution  en  contenus, en expertise technique ou de communication.
        </p>
        <div class="row downMarg2">
            <div class="col-xs-6">
                <img src="{{ asset('bundles/booster/img/X.png') }}" alt="logo1" class="img-responsive">
            </div>
            <div class="col-xs-6">
                <p> <strong>L’ANNR ou Association Nationale Nouvelles Ruralités</strong>
                    <br>
                    « Les territoires ruraux sont la solution pour la France »
                </p>
            </div>
        </div>
    </div>
</div>
