/* citizenfront */

/*************************MAIN**********************/
main{
    height: 150px;
    background-color: rgb(252, 183, 0);
}
/************************MAIN**********************/

body{
    background-color: rgb(204, 204, 204);
}

.identity{
    background-color: white;
    margin: 35px 50px 35px 50px;
}

.citizen .col-md-6 > img{
    padding-top: 3%;
    padding-left: 10%;
}

.text-identity > h1{
    font-size: 25px;
    margin-left: 3%;
}

.identity-citizen{
    list-style: none;
}

.identity-citizen > span{
    font-weight: bold;
    
}
/*end citizenfront*/