
/*-------------------- commom------------------------ */
body{
    background-color: rgb(204,204,204);

}
/*-------------------End Common-------------------*/
/*----------- Mayor------------------*/

h1{
    color: #6b9311;
    text-align: center;

}
img{
    margin-right: auto;
    margin-left: auto;
}
.pict1{
    margin-top: 20px;
    margin-bottom: 20px;

}
img, .text{
    margin: 10px 0 10px 0;
}

.section, .thumbnail{
    background-color: white;
    border: none;
    margin-bottom: 0;
}

.word, .town{
    margin: 30px 0 30px 0;

}

.title{
    text-align: center;
}

.block-map{
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 30px;
}
.map1{
    height: 300px;
}
.map2{
    padding-bottom: 25px;
}

.offers, .need, .why{
    padding: 0;
}


/*----------- End Mayor------------------*/