/******************************************************/
/************************ COMMON **********************/
/******************************************************/

body{
    background-color: rgb(204,204,204);
}

li {
    list-style-type: none;
}

h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    text-align: justify;
}

section {
    border: 1px solid gray;
}

/******************************************************/
/************************ END COMMON ******************/
/******************************************************/

/******************************************************/
/************************ ACTOR ***********************/
/******************************************************/

.map {
    height: 350px;
    width: 40%;
    border: 1px solid gray;
}

.backWhite {
    background-color: white;
}

span {
    font-weight: bold;
}

.pitureMini {
    width: 100%;
    padding-top: 20px;
}

/******************************************************/
/********************** END ACTOR *********************/
/******************************************************/