{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <section class="col-sm-offset-2 col-sm-8 col-xs-12 backWhite sec1">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <p class="alert alert-success">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
            </div>
    </section

{% endblock fos_user_content %}
