{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


        {% block fos_user_content %}

            <div class="row">
                <section class="col-sm-offset-2 col-sm-8 col-xs-12 backWhite sec1">
                    <div class="alert alert-success">
                        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

                        {% if targetUrl %}
                            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                        {% endif %}
                    </div>
                </section>
            </div>
        {% endblock fos_user_content %}
