{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p class="help">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
            <img src="{{ asset('bundles/booster/img/mode_d_emploi.png') }}" >
        </div>
    </div>
{% endblock fos_user_content %}
