{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

<p> En cliquant sur votre nom en haut à gauche, vous accédez à votre profil.
    Une fois sur cette page vous avez la possibilité de compléter vos informations et d'ajouer des photos en cliquant sur l'icone du crayon.
    En complétant les parties "Offres" et "Besoins" vous augmentez vos chances de visibilité sur le site.
    Le moteur de recherche situé dans les encadrés "Matching" vous permettent de rechercher des annonces par mots-clés.
    Enfin si vous souhaitez accéder à l'ensemble des annonces concernant les maires, les acteurs dynamiques et les citoyens, cliquez sur les mots "besoins" et "offres" dans la barre de navigation.
    L'onglet "Villages" affiche l'ensemble des communes inscrites sur le site. </p>


{% endblock fos_user_content %}
