{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- identity -->
        <div class="identity">
            <div class="row citizen">
                <div class="col-xs-12 col-md-6">
                    <img src="{{ asset ('bundles/booster/img/pic1citiz.jpg') }}"  alt="ma photo">
                </div>
            <div class="col-xs-12 col-md-6">
                <h1>Louise MARTIN</h1>
                <ul class="">
                    <li class="identity-citizen"><span>Statut:</span> Actif</li>
                    <li class="identity-citizen"><span>Adresse:</span> 18, rue de la gare</li>
                    <li class="identity-citizen"><span>Code postal:</span> 28240</li>
                    <li class="identity-citizen"><span>Commune:</span> La Loupe</li>
                    <li class="identity-citizen"><span>Adresse mail:</span> louise.martin@gmail.com</li>
                </ul>
            </div>
            </div>
        </div>



    <!-- end identity -->

    <!-- Me and map -->

        <div class="row memap">
                <div class="col-xs-12 col-md-5 col-md-offset-2 col-md-5">
                    
                </div>
        </div>

    </div>
{% endblock %}


